
@{
    ViewBag.Title = "ContactUs";
}
    <nav>
        <ul>
            <li>@Html.ActionLink("Home Page", "Index", "Home")</li>
            <li>@Html.ActionLink("AboutUs Page", "AboutUs", "Home")</li>
            <li>@Html.ActionLink("ContactUs Page", "ContactUs", "Home")</li>
        </ul>
    </nav>

<h2>ContactUs</h2>
<h3>This is ContactUs Page</h3>

