
@{
    ViewBag.Title = "Index";
}

    <nav>
        <ul>
            <li>@Html.ActionLink("Home Page", "Index", "Home")</li>
            <li>@Html.ActionLink("AboutUs Page", "AboutUs", "Home")</li>
            <li>@Html.ActionLink("ContactUs Page", "ContactUs", "Home")</li>
        </ul>
    </nav>
<h2>Index</h2>
<h3>This is Index Page</h3>


